// Paleta de cores
$primary-normal: #53593E;
$primary-dark: #868C6D;
$primary-light: #B2BA91;

$secondary-normal: #53593E;
$secondary-dark: #868C6D;
$secondary-light: #B2BA91;

// Cores neutras
$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #f7f2fa;
$white-dark: #edeaef;
$white-light: #fefbff;

// Escala de cinza
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// Cores auxiliares
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$blue-normal: #ffce52;
$blue-dark: #d9b043;
$blue-light: #ffd76b;
